.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
  position: relative;
  border: red 1px solid;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
.delete-task  {
  color: red;
}
.delete-todolist {
  color: yellow;
  position: absolute;
  top: 20px;
  right: 2px;
}
